<h1><a href="/">메인 페이지</a></h1>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a href="/new" class="btn">회원가입</a>
        <a href="/login" class="btn">로그인</a>
        <a href="/user" class="btn">마이페이지</a>
        <a href="/eva" class="btn">평가하기</a>
        <input type="text" placeholder="이름을 입력하세요">
        <button>검색</button>
    </div>
</nav>
