<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 페이지</title>
</head>
<body>
    <%- include('header') %> 
    <h1>추천된 사용자</h1> 
    <h3>어케 하냐....</h3>
</body>
</html>